* {
    box-sizing: border-box;
  }
 
 .calc {
    width: 400px;
    background-color: black;
    color: white;
 }
 
 .screen {
    font-size: 40px;
    text-align: right;
    padding: 20px 5px;
    font-family: 'Courier New', Courier, monospace;
 }

 .calc-button {
    background-color: #d8d9db;
    color: black;
    width: 24.5%;
    height: 100px;
    border: none;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;
 }

 .calc-button:hover {
    background-color: #ebebeb;
 }

 .calc-button:active {
    background-color: #bbbcbe;
 }

 .action {
    background-color: #df974c;
    color: white;
 }

 .action:hover {
    background-color: #dfb07e;
 }

 .action:active {
    background-color: #dd8d37;
 }

 .double {
    width: 49.7%;
 }

 .triple {
    width: 74.8%;
 }

 .calc-button-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
 }